*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #1e293b;
    background-size: cover;
}

.clear{
    clear: both;
    float: none;
}

@font-face {
    font-family: Duru-Sans;
    src: url(font/DuruSans-Regular.ttf);
}
@font-face {
    font-family: Itim;
    src: url(font/Itim-Regular.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(font/static/Rubik-Black.ttf);
}

/*-----------------HEADER Y NAV-------------------*/
header{
    position: sticky;
    top: 0;
    background: linear-gradient(to left, #006fff, #e1ffff);
    z-index: 3;
}

.logo{
    margin-left: 80px;
    width: 140px;
    padding: 12px 0 5px 0;
}

.principal {
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    font-family: Itim;
    
}

.principal li{
    list-style: none;
    float: left;
    padding: 0px 15px;
    cursor: pointer;
    font-size: 18px;
    transition: 500ms;
}

.principal li a{
    text-decoration: none;
    color: rgb(255, 255, 231);
}

.principal li:hover{
    transform: scale(1.2);
}

#check, .menu{
    display: none;
}

/*--------------------BANNER------------------------*/
.slider{
    position: relative;
    width: 100%;

}
.banner{
    width: 100%;
    margin: 0 auto;
    height: calc(100vh - 50px);
    filter: brightness(0.5);
}

.slider .intro{
    position: absolute;
    height: calc(100vh - 50px);
    display: flex;
    top:0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; 
    }

.intro p{
    font-family: Rubik;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 0 30px;
}

.intro p:first-child{
 font-size: 80px;
}

.intro p img{
    width:120px;
    height:auto;
    margin-bottom: -17px;
    margin-right: -17px;
}

.buttonDownload {
    display: inline-block;
    position: relative;
    padding: 20px 40px;
    background-color: #4CC7F3;
    color: white;
    font-family: Duru-sans;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    text-indent: 20px;
    border: none;
    border-radius: 20px;
    transition: 500ms;
    cursor: pointer;
   }
   
   .buttonDownload:hover {
    background-color: #45e202;
    color: white;
    transform: scale(1.2);
   }
   
   .buttonDownload:before, .buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
   }
   
   .buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 12px;
    margin-right: 20px;
    margin-top: -7px;
    border-style: solid;
    border-width: 12px 12px 0px 12px;
    border-color: transparent;
    border-top-color: inherit;
    animation: downloadArrow 0.8s linear infinite;
    animation-play-state: paused;
   }
   
   .buttonDownload:hover:after {
    animation-play-state: running;
   }
   
   @keyframes downloadArrow {
    0% {
     margin-top: -7px;
     opacity: 1;
    }
   
    0.001% {
     margin-top: -25px;
     opacity: 0.4;
    }
   
    50% {
     opacity: 1;
    }
   
    100% {
     margin-top: 12px;
     opacity: 0.4;
    }
   }
/*--------------------CONTAINER------------------------*/

.container{
    margin: 0 auto;
    font-family: Duru-Sans;
    color: #FFFFFF; 
}

section{
    width: 80%;
    margin: 0px auto;
}
/*--------------------SOBRE MÍ------------------------*/

.aboutMe{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 35px;
    justify-content: center; 
    align-content: center;
    text-align: justify;
    padding:  20px 0 0 0;
    margin: 0px auto 0px;
    padding: 6vh 0;
}

.picture{
    border-radius: 100px;
    width: 150px; 
    padding-top: 15px;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 25px;
}

.description h2{
    font-family: Rubik;
}


/*--------------------ESTUDIOS------------------------*/

.card {
    width: 280px;
    height: 170px;
    perspective: 1000px;
    margin: 0 auto;
}
  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  .card-front {
    background-color: #1e90ff;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 10px solid #1e90ff;
    border-radius: 10px;
    font-size: 30px;
    transform: rotateY(0deg);
    box-shadow: 0.1em 0.05em 0.3em #1e90ff;
  }
  
  .card-back {
    background-color: #45cc52;
    color: #fff;
    display: flex;
    align-items:flex-start;
    border: 10px solid #45cc52;
    border-radius: 10px;
    justify-content: center;
    font-size: 17px;
    text-align: center;
    transform: rotateY(180deg);
    align-items: center;
    margin-left: -20px;
    box-shadow: 0.1em 0.05em 1.2em #45cc52;
  }

  .card-back strong{
    font-size: 18px;
  }

  .card-front .msg{
    font-size: 13px;
  }
  

.title{
    padding: 20px;
    text-align: center;
    font-size: 60px;
    font-family: Rubik;
}

.studies{
    position: relative;
    padding: 4vh 0;
}

.education{
    display: grid;
    grid-template-columns: repeat( 
        auto-fill,
        minmax(280px, 2fr)
    );
    gap: 32px;
}

.education_mini{
    display: none;
}

/*--------------------CONOCIMIENTOS------------------------*/
.languages{
    padding: 4vh 0;
}

.langs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    gap: 32px;
}

figure{
    padding: 10px;
    text-align: center;
}

.icons{
    width: 100px;
    filter: invert(85%) sepia(50%) saturate(60%) hue-rotate(95deg) brightness(96%) contrast(96%);
}

.languages figcaption{
    font-family: Itim;
    font-size: 22px;
    text-align: center;
}

/*--------------------PROYECTOS------------------------*/

.projects{
    padding: 4vh 0;
}

.subtitle{
    text-align: center;
    padding: 10px;
    font-size: 28px;
}

.websites, .otherProyects{
    display: grid;
    grid-template-columns: repeat( 
        auto-fit,
        minmax(220px, 1fr)
    );
    gap: 32px;
}

.item, .item2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.item img, .item2 img{
    width: 250px;
    border-radius: 10px;
    transition: 500ms;
}

.projects h3{
    font-size:20px;
    text-align: center;
    text-decoration: underline;
}

.name{
    text-align: center;
    padding: 10px;
    font-size:17px;
}

.link, .git{
    width: 80px;
    text-align: center;
    background: linear-gradient(to right, #0085ff, #69b4ff);;
    padding: 7px;
    border-radius: 5px;
    transition: .4s ease-in;
}

.git{
    background: linear-gradient(to right, #0085ff, #69b4ff);;
}

.link a, .git a{
    text-decoration: none;
    color: #FFFFFF;
}

.item2{
    text-align: center;
}

.link:hover{
    transform: scale(1.3);
    box-shadow: inset 6em 0 0 0 #43c3ff;
}

.link:hover a, .git:hover a{
    transition: .6s ease-in;
}

.git:hover{
    transform: scale(1.3);
    box-shadow: inset 6em 0 0 0 #43c3ff;
}

/*--------------------CONTACTO------------------------*/

.container:nth-child(6){
background-color: #ffffff61;
padding: 0 0 30px;
}

.social{
    display: grid;
    grid-template-columns: auto auto auto; 
    align-items: center;
    justify-content: space-around;
}

.social figure{
    transition: 500ms;
    width: 70px;
}
.social figure img{
    margin: 0 auto;
    transition: 300ms;
    border-radius: 20%;
}

.social figure p{
    text-align: center;
    font-family: Itim;
}

#s-g3{
    width: 70px;
}

.social figure:hover{
    transform: scale(1.3);
    filter: invert(23%) sepia(94%) saturate(1968%) hue-rotate(197deg) brightness(95%) contrast(92%);
}

.social figure p:hover{
    cursor: pointer;
}

.social figure:nth-of-type(3):hover{
    filter: invert(30%) sepia(90%) saturate(3%) hue-rotate(61deg) brightness(96%) contrast(96%) ;    
}

.social a{
    text-decoration: none;
    color: black;
}

.text{
    font-size: 21px;
    text-align: center;
    margin: 5px 0px 15px;
}

.download{
    transition: 1s;
    margin: 10px auto 0;
    width: 70%;
    padding: 15px;
    border-radius: 10px;
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Itim;
    background: linear-gradient(to top, #56ccf2, #2f80ed);
    border: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}

a .download{
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.download:hover{
    transform: scale(1.1);
    box-shadow: inset 38.5em 0 0 0 #18cb45;
}

.save{
    width: 40px;
    margin-right: 20px;
}

.social:nth-of-type(2){
    display: none;
}

/*--------------------FOOTER------------------------*/

footer{
    background: linear-gradient(to left, #69b4ff, #e1ffff);
    text-align: center;
    font-family: itim;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottomImg{
    padding: 30px 0px;
    width: 80px;
}

.copy{
    font-size: 15px;
    padding: 7px 0 30px 0;
}

@media screen and (max-width: 1024px){

    /*-----------------HEADER Y NAV-------------------*/

    .logo{
        margin-left: 60px;
    }

    .principal{
        right: 4%;
    }

    .principal li{
        list-style: none;
        float: left;
        padding: 18px 8px;
        cursor: pointer;
        font-size: 16px;
        transition: 500ms;
    }

    .principal li a{
        text-decoration: none;
        color: rgb(255, 255, 231);
    }

    .principal li:hover{
        transform: scale(1);
    }

    /*--------------------BANNER------------------------*/
    
    .intro p{
        font-size: 30px;
        text-align: center;
        padding: 0 70px;
    }
    .intro p:first-child{
        font-size: 50px;
       }
    
    .buttonDownload {
        padding: 15px 30px;
        font-size: 20px;
        cursor: auto;
       }
    
       .intro p img{
        width:105px;

    }

       .buttonDownload:hover {
        transform: scale(1);
        background-color: #4CC7F3;
       }
       
       .buttonDownload:after {
        margin-top: -3px;
        border-style: solid;
        border-width: 8px 8px 0px 8px;
        animation: none;
       }

    /*--------------------SOBRE MÍ------------------------*/

    .aboutMe{
        padding: 30px 0;
    }

    .description{
        font-size: 20px;
    }
    
    /*--------------------ESTUDIOS------------------------*/
    .education{
        display: none;
    }

    .title{
        font-size: 45px;
    }
    .studies{
        padding: 0 0 20px;
    }

    .education_mini{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .card {
        width: 70%;
        height: 110%;
        margin: 0 auto;
        background-color: #c5e9ff;
        border-radius: 8px;
        z-index: 1;
        
       }
       
       .tools {
        display: flex;
        align-items: center;
        padding: 9px;
       }
       
       .circle {
        padding: 0 4px;
       }
       
       .box {
        display: inline-block;
        align-items: center;
        width: 10px;
        height: 10px;
        padding: 1px;
        border-radius: 50%;
       }
       
       .red {
        background-color: #ff605c;
       }
       
       .yellow {
        background-color: #ffbd44;
       }
       
       .green {
        background-color: #00ca4e;
       }
       
       .card_content{
        padding: 0px 10px 20px;
        color: #000000;
        text-align: center;
       }

    /*--------------------CONOCIMIENTOS------------------------*/


    .languages figcaption{
        text-align: center;
        font-family: Itim;
        font-size: 18px;
    }
    .langs{
        cursor: auto;
    }

    /*--------------------PROYECTOS------------------------*/

    .subtitle{
        text-align: center;
        padding: 10px;
        font-size: 25px;
    }

    .websites, .otherProyects{
    gap: 10px;
    }
    

    .item, .item2{
        padding: 20px 5px;
    }

    .item img, .item2 img{
        width: 210px;
    }

    .buttons{
        gap: 14px;
    }

    .name{
        text-align: center;
        padding: 10px;
        font-size: 15px;
    }

    .link{
        margin-left: 0;
    }

    .link:hover, .git:hover{
        transform: scale(1);
        box-shadow: none;
    }

    /*--------------------CONTACTO------------------------*/
    .social figure:hover, .social figure:nth-of-type(3):hover{
        transform: scale(1);
        filter: none;
    }

    .social figcaption{
        filter: invert(23%) sepia(94%) saturate(1968%) hue-rotate(197deg) brightness(95%) contrast(92%);
    }

    .social figure:nth-of-type(3) figcaption{
        filter: invert(30%) sepia(90%) saturate(3%) hue-rotate(61deg) brightness(96%) contrast(96%) ;
    }

    .social figure p{
        font-size: 15px;
    }

    .social figure img{
        width: 70px;
    }

    .social a{
        color: #3e3e3e;
    }

    .text{
        font-size: 18px;
        text-align: center;
    }

    .download{
        margin: 5px auto 0;
        width: 75%;
        padding: 10px;
        font-size: 20px;
    }

    .download:hover{
        transform: scale(1);
        box-shadow: none;
    }

    .save{
        width: 35px;
        margin-right: 20px;
    }

/*--------------------FOOTER------------------------*/

    footer{
        text-align: center;
        font-family: itim;
        
    }
    .bottomImg{
        padding: 15px 0px ;
        width: 80px;
    }

    .copy{
        font-size: 15px;
        padding: 7px 0 30px 0;
    }

}

@media screen and (max-width: 768px){

    .logo{
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 0px;
    }

    .menu{
        display: block;
        position: absolute;
        top: 5px;
        left: 30px;
        z-index: 1;
    }

    .principal {
        position: absolute; 
        left: 0;
        top: 54px;
        transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
        font-family: Itim;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100vh;
        transform: translateX(-100%);
        transition: all 300ms ease-out;
    }

    .contenido{
        position: relative;
        margin: 0px auto;
        top: 10px;
        width: 60%;
        text-align: center;
    }
    
    .contenido li{
        list-style: none;
        float: none;
        font-size: 22px;
        padding: 10px 0px;
        cursor: default; 
        border-bottom: #56ccf2 2px solid;
    }
    
    .principal li a{
        text-decoration: none;
        color: rgb(255, 255, 231);
    }
    
    .principal li a{
        text-decoration: none;
        color: rgb(255, 255, 231);
    }

    #check:checked ~ .principal{
        visibility: visible;
        transform: translateY(0%);
        transition: all 300ms ease-in;
    }

    /*---------------------BANNER--------------------------*/

    .intro p{
        font-size: 22px;
        padding: 0 30px;

    }
    .intro p:first-child{
        font-size: 45px;
    }

    .intro p img{
        width:95px;
        height:auto;
        margin-bottom: -15px;
    }
    
    .buttonDownload {
        padding: 15px 25px;
        font-size: 17px;
        cursor: auto;
       }

       .buttonDownload:hover {
        transform: scale(1);
        background-color: #4CC7F3;
       }
       
       .buttonDownload:after {
        margin-top: -3px;
        margin-right: -15px;
        border-style: solid;
        border-width: 7px 7px 0px 7px;
        animation: none;
       }

    /*--------------------SOBRE MÍ------------------------*/

    .aboutMe{
        display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: justify;

        padding: 20px 0 ;
    }

    .picture{
        display: block;
        border-radius: 100px;
        width: 130px; 
        margin: 0px auto;
    }

    .description{
        font-size: 18px;
    }
    .description h2, .description h3{
        text-align: center;
    }

    .card_content{
        font-size: 13px;
    }

     /*--------------------CONOCIMIENTOS------------------------*/
    .langs{
     grid-template-columns: repeat( 
        auto-fit,
        minmax(90px, 0.9fr)
    );
    gap: 25px;
    }

    figure{
        padding: 0px;
        margin: 0 auto;
    }

    /*--------------------ESTUDIOS------------------------*/

    .title{
        padding: 15px;
        text-align: center;
        font-size: 30px;
    }


    /*--------------------PROYECTOS------------------------*/

    .websites, .otherProyects{
        grid-template-columns: repeat( auto-fit, minmax(180px, 1fr) );
        gap: 13px;
    }

    .item img, .item2 img{
        width: 160px;
        display: flex;
        margin: 0 auto  ;
    }

    .buttons{
        gap: 8px;
    }

    a .download{
        font-size: 20px;
    }

    .name{
        font-size:15px;
    }

    .link, .git {
        width: 65px;
        text-align: center;
        font-size: 13px;
    }
}

@media screen and (max-width: 430px){

    /*--------------------HEADER Y NAV------------------------*/

    .menu{
        left: 15px;
    }

    .logo{
        left: 55%;
    }


    .title{
        font-size: 25px;
    }

    .intro p {
        font-size: 20px;
        padding: 0px 18px;
    }

    .intro p:first-child {
        font-size: 35px;
    }

    .subtitle{
        font-size: 20px;
    }

    .card{
        width: 90%;
    }

    .card_content{
        font-size: 13px;
    }

    /*--------------------PROYECTOS------------------------*/


    .buttons{
        flex-direction: column;
    }

    /*--------------------CONTACTO------------------------*/

    figcaption{
        display: flex;
        justify-content: center;
    }

    .contact .text{
        font-size: 13px;
    }

    .social figure{
        padding: 0px;
    }

    .social figure p{
        font-size: 13px;
    }

    .social figure img, #s-g3{
        width: 40px;
    }

    .contact a .download{
        font-size: 15px;
    }

    .download{
        width: 95%;
    }

    .save {
        margin-right: 5px;
    }

    /*--------------------FOOTER------------------------*/

    footer{
        flex-direction: column;
    }

    .bottomImg{
        width: 85px;
        padding: 10px 0 0;
    }

    .copy{
        font-size: 12px;
        padding: 7px 0 30px 0;
    }
}