*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    text-align: center;
    background: linear-gradient(-45deg, #ffffff, #74efff, #0c27b0);
    background-size: 500% 500%;
    animation: gradient-bg 20s ease infinite;
}

@keyframes gradient-bg {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

header{
  padding: 20px 50px;
  background-color: #0973f355;
  text-align: right;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.icon-box{
  position: fixed;
  width: 40px;
  top: 33%;
  right: 5px;
  padding: 8px;
  border: 1px solid blue;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

a:nth-of-type(2) svg{
  display: initial;
  width: 36px;

}

a:nth-of-type(3) svg{
  display: initial;
  width: 36px;
}

svg:hover .facebook, svg:hover .linkedin{
  fill: blue;
  transition: .8s;
}

svg:hover .web{
  fill: #333;
}
svg:hover{
  transform: scale(1.2);
  transition: .8s;
}

a svg{
  margin: 3px 0;
}

main{
  padding: 20px 0;
}

.title{
    padding: 5px;
    font-size: 30px;
    font-family: 'Signika Negative', sans-serif;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
}
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00b615;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.horario{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.horario p{
    padding: 0 20px;
    font-size: 20px;
    font-family: 'Catamaran', sans-serif;
}

.zone{
    font-size: 20px;
    text-align: center;
    width: 250px;
    padding: 10px;
    margin: 0 0 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 5px;
}

.zone option{
    background-color: #d3eefc;
    border: none;
    box-shadow: none;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 30px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d3eefc; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fff; 
  }

.reloj{
    margin: 0  auto;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80vh;
    border: 1px solid black;
    transition: 0.9s;
    background-repeat: no-repeat;
    background-size: cover;
}

.ciudad-reloj {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #333;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 100px;
    box-sizing: content-box;
}

#ciudad{
    font-size: 28px;
    padding: 0 5px;
}
#ciudad pre{
   font-family: 'Signika Negative', sans-serif;
}

.hora {
    font-size: 25px;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

.mi{
  display: none;
}


footer{
  padding: 25px;
  background-color: #B8BFBF77;
  font-size: 20px;
  color: #000;
  font-family: 'Catamaran', sans-serif;
}

@media screen and (max-width:1024px){

  .icon-box{
    position: fixed;
    width: 30px;
    padding: 8px;
  }

  a:nth-of-type(1) svg{
    width: 30px;
  }
  
  a:nth-of-type(2) svg{
    width: 30px;

  }
  
  a:nth-of-type(3) svg{
    width: 28px;
  }
  .facebook, .linkedin{
    fill: blue;
  }

  svg:hover .facebook, svg:hover .linkedin{
    fill: blue;
    transition: 0s;
  }
  
  svg:hover .web{
    fill: #333;
  }

  .web{
    fill: #333;
  }

  svg:hover{
    transform: scale(1);
  }
  
  a svg{
    margin: 3px 0;
  }

  .zone{
    font-size: 18px;
    width: 200px;
}

  .reloj{
    width: 90%;
    height: 55vh;
  }

  .ciudad-reloj {
    margin: 20px;
    padding: 7px;
    width: 250px;
    height: 70px;
  }

  #ciudad{
      font-size: 20px;
      padding: 0 5px;
  }

  .hora {
      font-size: 20px;
  }

  footer{
    background: none;
    font-size: 25px;
  }
  
}

@media screen and (max-width:1024px)and (orientation: landscape){

  .reloj{
    width: 85%;
    height: 80vh;
  }
  
}

@media screen and (max-width:800px){

  .mi{
    display: inline;
    padding: 5px 0px;
    font-family: 'Catamaran', sans-serif;
  }

  .icon-box{
    position: relative;
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin: 0 auto;
    height: 35px;
    padding: 3px;
    align-items: center;
  }


}

@media screen and (max-width:768px){

  header{
    padding: 15px 20px;
    background-color: #0973f355;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }

  header h1{
   font-size: 28px;
    
  }

  .reloj{
    width: 95%;
    height: 45vh;
  }

  footer{
    background: none;
  }
}

@media screen and (max-width:767px) and (orientation: landscape){
    .reloj{
      height: 98vh;
    } 
}
  
@media screen and (max-width:480px){

  header h1{
    font-size: 25px;
  }

  .reloj{
    width: 90%;
    height: 30vh;
  } 

  .ciudad-reloj {
    margin: 15px;
    padding: 5px;
    width: 200px;
    height: 50px;
  }

  #ciudad{
      font-size: 15px;
      padding: 0 5px;
  }

  .hora {
      font-size: 14px;
  }

  footer{
    padding: 18px;
    font-size: 15px;
  }
}

